/* stylesheet.css */

main
{
    width: 60%;
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    position: relative;
    left: 25em;


}

h1
{
    width: 100%;
    text-align: center;
    font-size: 3em;
    background-color: blue;
    color: yellow;

}
h1:hover{
    background-color: yellow;
    color: blue;
}

aside{
    width: 12%;
    padding: 0em 0em 212.5em 0em;
    float: left;
    overflow: auto;
    background-color: grey;

    

}
aside:hover{
    position: relative;
    bottom: 5pt; left: 5pt;
    color: yellow;
    background-color: blue;

}

footer{
    width: 100%;
    background-color: blue;
    color: yellow;
}
nav{
    font-family: 'Ubuntu',sans-serif;

}
li:hover{
    font-size: 1.2em;
}
a{
    color: yellow;
}
table{
    position: relative;
    left: 20em;
 

}